*{
  font-family: Arial, Helvetica, sans-serif;
}

.main{
    padding-top: 3rem;
    box-sizing: border-box;
    height: 100vh;
}

#texto{
    box-sizing: border-box;
    height: 285px;
    width: 40%;
    display: inline-block;
    background-color: white;
    padding: 50px 30px;
    border: #92d050 dotted 5px;
    margin-right: 50px;

}

#texto h1 {
    margin-bottom: 30px;
    color: #92d050;
    font-weight: bold;
    font-size: 1.5rem;
}

#texto p#frase {
    margin-bottom: 20px;
   
}

#texto span img {
    width:32px; height: 32px;
    margin-right: 10px;
}

#texto span {
    height: 40px;
    display: flex;
    align-items: center;
}

#texto p#zap {

    font-size: 1rem;
    font-weight: bold;
}

#texto p#zap a{
    color: #707070;
}

#texto p#email {
    font-size: 1rem;
    font-weight: bold;
}

#texto p#email a{
    color: #707070;
}

#formulario {
    width: 50%;
    display: inline-block;
}

#formulario input {
    width: calc(50% - 7.5px);
    height: 2rem;
    margin-bottom: 25px;
    padding-left: 10px;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 1rem;

}

#formulario textarea {
    width:100%;
    height: 5rem;
    padding-top: 10px;
    padding-left: 10px;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 1rem;
}


#formulario button {
    font-family: monospace;
    height: 3rem;
    width: 100%;
    background-color: #92d050;
    color: white;
    margin-top: 40px;
    border: 1px #707070 solid;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: bold;
}
